.img-wrap {
    position: relative;
    height: 160px;
}

.preview {
    position: absolute;
}

.pokedecimals{
    left: 10px;
    width: 80px;
    margin-left: 10px;
}

.pokedecimal-button{
    margin-left: 25px;
}

.div{
  vertical-align: top;
  float: left;
}

/* CSS for the container */
.color-container {
    display: flex;
    align-items: center;
    margin-bottom: -30px;
    white-space-collapse: discard;
    top:-10px;
    margin-left: 10px;
    position: relative;
    float: center;
    overflow: hidden;
  }
  
  /* CSS for the hex field */
  .color-container .jscolor {
    width: 80px;
  }

  .color-container .input {
    width: 80px;
    margin-left: 10px;
  }
  
  /* CSS for the decimals text */
  .color-container span {
    font-weight: bold;
  }